{% extends "layout.html" %}

{% block title %} Perfil - Arepa Faucet {% endblock %}

{% block content %}

<div class="col-md-8 mx-auto bg-light p-5 rounded-lg m-3">
    <h1>Perfil de usuario</h1>
    <hr class="my-4">
    {% if session['name'] %}
    <p class="par-p3" style="margin-bottom: 0px;"><b>Nombre: </b>{{ session['name'] }}</p>
    {% else %}
    <p class="par-p3" style="margin-bottom: 0px;"><b>Nombre: </b>No asignado</p>
    {% endif %}
    <p class="par-p3"><b>Correo eléctronico: </b>{{ session['email'] }}</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/edit_profile" role="button">Editar perfil</a>
</div>

{% endblock %}